@if (User.Identity.IsAuthenticated)
{
    <li>     @Html.ActionLink("Hoşgeldiniz Sn." + User.Identity.Name + " Çıkış", "LogOut", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Account")</li>
}
