@model IEnumerable<MbisSystem.Model.Model.Personel>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonelAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSayisi)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonelAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSayisi)
        </td>
    </tr>
}

</table>
